<h2>Basic Icons</h2>
<mat-icon>checkmark_circle</mat-icon>
<mat-icon>close</mat-icon>
<mat-icon>list</mat-icon>

<h2>Colored Icons</h2>
<mat-icon color="primary">checkmark_circle</mat-icon>
<mat-icon color="accent">close</mat-icon>
<mat-icon color="warn">list</mat-icon>

<h2>Icon Buttons</h2>
<button mat-icon-button
        color="primary">
  <mat-icon>checkmark_circle</mat-icon>
</button>
<button mat-icon-button
        color="accent">
  <mat-icon>close</mat-icon>
</button>
<button mat-icon-button
        color="warn">
  <mat-icon>list</mat-icon>
</button>

<h2>Fab Icon Buttons</h2>
<button mat-fab
        color="primary">
  <mat-icon>checkmark_circle</mat-icon>
</button>
<button mat-fab
        color="accent">
  <mat-icon>close</mat-icon>
</button>
<button mat-fab
        color="warn">
  <mat-icon>list</mat-icon>
</button>

<h2>Mini Fab Icon Buttons</h2>
<button mat-mini-fab
        color="primary">
  <mat-icon>checkmark_circle</mat-icon>
</button>
<button mat-mini-fab
        color="accent">
  <mat-icon>close</mat-icon>
</button>
<button mat-mini-fab
        color="warn">
  <mat-icon>list</mat-icon>
</button>

<h3>Custom Icons</h3>
