.app-content {
  height: 2000px;
}

.primary-header {
  position: fixed;
  top: 0;

  &.with-shadow {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12)
  }
}

.extended-header {
  font-size: 32px;
  padding-top: 80px;
  padding-bottom: 20px;
}
